<section class="es-flex es-flex-col md:es-flex-row es-gap-2 es-py-4 es-px-6">
    <div class="md:es-w-1/5">
        <h2>Categories</h2>
        <mat-divider></mat-divider>
        <div *ngFor="let productCategory of productCategories">
            <a class="es-py-2 es-block es-cursor-pointer hover:es-font-bold">{{ productCategory.name }}</a>
        </div>
    </div>
    <div class="md:es-w-4/5 es-flex es-flex-auto es-flex-wrap es-items-start es-content-start">
        <div class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex">
            <a class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition">
                <img class="es-w-full es-h-40 es-object-contain" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="es-p-2">
                    <div class="es-text-base">Laptop IC PP DD Test</div>
                    <div class="es-text-lg es-mb-4 es-text-purple-800">₱1200.00</div>
                    <div class="es-text-sm es-text-gray-500">
                        Nike
                    </div>
                </div>
            </a>
        </div>
        <div class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex">
            <a class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition">
                <img class="es-w-full es-h-40 es-object-contain"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="es-p-2">
                    <div class="es-text-base">Laptop IC PP DD Test</div>
                    <div class="es-text-lg es-mb-4 es-text-purple-800">₱1200.00</div>
                    <div class="es-text-sm es-text-gray-500">
                        Nike
                    </div>
                </div>
            </a>
        </div>
        <div class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex">
            <a class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition">
                <img class="es-w-full es-h-40 es-object-contain"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="es-p-2">
                    <div class="es-text-base">Laptop IC PP DD Test</div>
                    <div class="es-text-lg es-mb-4 es-text-purple-800">₱1200.00</div>
                    <div class="es-text-sm es-text-gray-500">
                        Nike
                    </div>
                </div>
            </a>
        </div>
        <div class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex">
            <a class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition">
                <img class="es-w-full es-h-40 es-object-contain"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="es-p-2">
                    <div class="es-text-base">Laptop IC PP DD Test</div>
                    <div class="es-text-lg es-mb-4 es-text-purple-800">₱1200.00</div>
                    <div class="es-text-sm es-text-gray-500">
                        Nike
                    </div>
                </div>
            </a>
        </div>
        <div class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex">
            <a class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition">
                <img class="es-w-full es-h-40 es-object-contain"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="es-p-2">
                    <div class="es-text-base">Laptop IC PP DD Test</div>
                    <div class="es-text-lg es-mb-4 es-text-purple-800">₱1200.00</div>
                    <div class="es-text-sm es-text-gray-500">
                        Nike
                    </div>
                </div>
            </a>
        </div>
        <div class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex">
            <a class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition">
                <img class="es-w-full es-h-40 es-object-contain"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="es-p-2">
                    <div class="es-text-base">Laptop IC PP DD Test</div>
                    <div class="es-text-lg es-mb-4 es-text-purple-800">₱1200.00</div>
                    <div class="es-text-sm es-text-gray-500">
                        Nike
                    </div>
                </div>
            </a>
        </div>
        <div class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex">
            <a class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition">
                <img class="es-w-full es-h-40 es-object-contain"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="es-p-2">
                    <div class="es-text-base">Laptop IC PP DD Test</div>
                    <div class="es-text-lg es-mb-4 es-text-purple-800">₱1200.00</div>
                    <div class="es-text-sm es-text-gray-500">
                        Nike
                    </div>
                </div>
            </a>
        </div>
        <div class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex">
            <a class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition">
                <img class="es-w-full es-h-40 es-object-contain"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="es-p-2">
                    <div class="es-text-base">Laptop IC PP DD Test</div>
                    <div class="es-text-lg es-mb-4 es-text-purple-800">₱1200.00</div>
                    <div class="es-text-sm es-text-gray-500">
                        Nike
                    </div>
                </div>
            </a>
        </div>
        <div class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex">
            <a class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition">
                <img class="es-w-full es-h-40 es-object-contain"
                    src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <div class="es-p-2">
                    <div class="es-text-base">Laptop IC PP DD Test</div>
                    <div class="es-text-lg es-mb-4 es-text-purple-800">₱1200.00</div>
                    <div class="es-text-sm es-text-gray-500">
                        Nike
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>