<section class="es-flex es-flex-col md:es-flex-row es-gap-2 es-py-4 es-px-6">
  <div class="md:es-w-1/5">
    <button mat-button class="es-w-full category-button" (click)="loadProducts()">
      All Categories
    </button>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let productCategory of productCategories">
      <button
        mat-button
        class="es-w-full category-button"
        (click)="loadProducts({ categoryId: productCategory._id })"
      >
        {{ productCategory.name }}
      </button>
    </ng-container>
  </div>
  <div class="md:es-w-4/5">
    <div class="es-inline-flex es-w-full md:es-px-2">
      <div class="es-w-3/4 es-mr-2 md:es-mr-4">
        <mat-form-field appearance="fill" class="es-w-full">
          <mat-label>Search Products</mat-label>
          <input matInput type="text" (keyup)="onSearch()" [(ngModel)]="textSearch" />
          <button mat-icon-button matSuffix [disabled]="isSearching" (click)="onSearch()">
            <mat-icon *ngIf="!isSearching">search</mat-icon>
            <mat-spinner *ngIf="isSearching" [diameter]="20"></mat-spinner>
          </button>
        </mat-form-field>
      </div>
      <div class="es-w-1/4">
        <mat-form-field appearance="fill" class="es-w-full">
          <mat-label>Sort By</mat-label>
          <mat-select>
            <mat-option value="0">Price low to high</mat-option>
            <mat-option value="1">Price high to low</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="es-w-full es-flex es-flex-auto es-flex-wrap es-content-start">
      <ng-container *ngIf="products?.length !== 0; else noResult">
        <div
          class="es-basis-1/2 sm:es-basis-1/3 lg:es-basis-1/4 xl:es-basis-1/5 2xl:es-basis-1/6 es-my-2 es-px-2 es-flex"
          *ngFor="let product of products"
        >
          <a
            class="es-border es-border-solid es-cursor-pointer hover:es-shadow-lg es-transition es-w-full"
            [routerLink]="['/products', product._id]"
          >
            <img
              class="es-w-full es-h-40 es-object-contain"
              [src]="product.img"
              alt="Photo of a Shiba Inu"
            />
            <div class="es-p-2">
              <div class="es-text-base">{{ product.name }}</div>
              <div class="es-text-lg es-mb-4 es-text-purple-800">
                ₱{{ product.price | number: '.2' }}
              </div>
              <div class="es-text-sm es-text-gray-500">
                {{ product.brand }}
              </div>
            </div>
          </a>
        </div>
      </ng-container>
      <ng-template #noResult>
        <div class="es-h-full es-text-base es-p-4 es-text-gray-400">No Result</div>
      </ng-template>
    </div>
  </div>
</section>
